{{ define "content" }}
<div class="row lead">
	{{ if .Title }}
	<div class="span8">
		<h1>{{ .Title }}</h1>
	</div>
	<div class="span4">
	{{ else }}
	<div class="span4 offset8">
	{{ end }}
		<ul class="pager pager-top">
			{{ if .Prev }} <li class="previous"><a href="{{ .Prev }}">&larr;</a> {{end}}
			{{ if .Next }} <li class="next"><a href="{{ .Next }}">&rarr;</a> {{end}}
		</ul>
	</div>
</div>
{{ if .Codesample }}
<div class="row">
	<div class="span8">
		<div class="row">
			<div class="span8">
				<textarea id="edit" autofocus="true" spellcheck="false" onkeydown="keyHandler(event);" onkeyup="autocompile();" rows="12" class="input-block-level">{{ .Codesample }}
				</textarea>
			</div>
		</div>
		<div class="row">
			<div class="span8">
				<pre class="alert alert-error hide" id="errors"></pre>
				<pre class="alert alert-success hide" id="output"></pre>
				<div id="progress" class="progress progress-warning progress-striped active fade">
					<div class="bar" style="width: 100%;"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="span4">
		{{ if .Notes.HTML }}
		<div class="well well-large">
			{{ .Notes.HTML }}
		</div>
		{{ end }}
		{{ if .Codesample }}
		<button type="submit" onclick="compile()" class="btn btn-primary">Run</button>
		<div class="row lead">
		</div>
		{{ end }}
	</div>
</div>
{{ else }}
	{{ .Notes.HTML }}
{{ end }}

{{ end }}
