{{ define "content" }}
{{ if .Title }}
<div class="row lead">
	<div class="span12">
		<h1>{{ .Title }}</h1>
	</div>
</div>
{{ end }}
{{ if .Codesample }}
<div class="row">
	<div class="span8">
		<div class="row">
			<div class="span8">
				<textarea id="edit" autofocus="true" spellcheck="false" onkeydown="keyHandler(event);" onkeyup="autocompile();" rows="12" class="input-block-level">
					{{ .Codesample }}
				</textarea>
			</div>
		</div>
		<div class="row">
			<div class="span8">
				<div class="alert alert-error hide" id="errors"></div>
				<div class="alert alert-success hide" id="output"></div>
				<div id="progress" class="progress progress-warning progress-striped active fade">
					<div class="bar" style="width: 100%;"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="span4">
		{{ if .Notes }}
		<div class="well well-large">
			{{ .Notes.HTML }}
		</div>
		{{ end }}
		{{ if .Codesample }}
		<button type="submit" onclick="compile()" class="btn btn-primary">Run</button>
		<div class="row lead">
		</div>
		{{ end }}
	</div>
</div>
{{ else }}
	{{ .Notes.HTML }}
{{ end }}
{{ end }}
